@media (max-width: 1500px) {
    /* header */
    .big-picture {
        right: -100px;
        width: 420px;
    }
    /* header */
}

@media (max-width: 1450px) {
    /* header */
    /* .container-nav {
        width: 80%;
    } */
    .header-title {
        font-size: 50px;
        line-height: 130%;
        margin-top: 110px;
    }
    .header-title__psevdo::before {
        left: -490px;
        bottom: -4px;
        height: 60px;
    }
    .med-car {
        width: 350px;
        top: 71%;
    }
    .big-picture {
        right: -50px;
        width: 375px;
    }
    /* header */
}

@media (max-width: 1400px) {
    /* monye*/
    .title-money {
        margin-bottom: 60px;
    }
    .dropper {
        top: -9px;
        width: 70px;
        transform: none;
    }
    .dropper-fon {
        width: 108px;
        z-index: -1;
        top: -14px;
        left: 0px;
    }
    .medical {
        width: 565px;
        right: 0px;
        bottom: -19px;
    }
    /* .money-prices {
        padding: 0 40px;
        height: 300px;
        margin-bottom: 65px;
    } */
    .money-prices__sum {
        padding: 12px 55px;
        font-size: 30px;
    }
    .express-blokc {
        margin-right: 40px;
    }
    .all-day__help {
        font-size: 20px;
        width: 300px;
    }
    .money-number {
        font-size: 20px;
    }
    /* monye*/
}

@media (max-width: 1300px) {
    /* header */
    .header-title {
        margin-bottom: 30px;
        font-size: 45px;
        line-height: 120%;
        margin-top: 70px;
    }
    .header-title__psevdo::before {
        left: -560px;
        bottom: -4px;
        height: 54px;
    }
    .header-presentation__item {
        margin-right: 10px;
    }
    .header-presentation {
        margin-bottom: 45px;
    }
    .header-input {
        width: 180px;
    }
    .header-form__btn {
        width: 180px;
    }
    .med-car {
        top: 68%;
        width: 280px;
    }
    .big-picture {
        right: 10px;
        width: 350px;
    }
    /* header */
    /* helps */
    .big-help {
        right: 0px;
        bottom: 0;
    }
    /* helps */
}

@media (max-width: 1200px) {
    /* choice */
    .choice-fon {
        background-position: inherit;
    }
    .choice-why__block {
        width: auto;
    }
    .why__block--item {
        margin-right: 0px;
        width: 333px;
        padding-right: 40px;
    }
    /* choice */
    /* money */
    .all-day__help {
        font-size: 17px;
        width: 255px;
    }
    .medical {
        width: 530px;
        right: 0px;
        bottom: -26px;
    }
    .money-line {
        height: 88px;
    }
    .express-blokc {
        height: 95px;
    }
    /* money */
    /* steps */
    .elements-item {
        padding: 15px;
        width: 135px;
        height: 135px;
        margin-bottom: 12px;
    }
    .elements-item__title {
        font-size: 119px;
        left: -16px;
        bottom: -25px;
    }
    .elements-item__picture--center {
        width: 50px;
    }
    .elements-item__picture {
        bottom: -5px;
        right: -29px;
        width: 95px;
    }
    .element-general__list {
        font-size: 13px;
        line-height: 120%;
        width: 130px;
    }
    .element-general__list::before {
        width: 50px;
        transform: translateX(75%);
    }
    .element-general__list--text {
        font-size: 10px;
        width: 130px;
    }
    /* steps */
    /* sobriety-express */
    .catheter {
        width: 350px;
    }
    .express-picture__orange {
        width: 290px;
        height: 260px;
    }
    .express-picture__blue {
        width: 290px;
        height: 260px;
    }
    .express-picture {
        margin-right: 80px;
    }
    .express__text--presentation {
        font-size: 15px;
        line-height: 140%;
        width: 375px;
    }
    /* sobriety-express */
    /* success */
    .reviews-card {
        margin-bottom: 20px;
    }
    /* success */
}

@media (max-width: 1070px) {
    /* header */
    .header-title {
        font-size: 40px;
        line-height: 110%;
    }
    .header-title__psevdo::before {
        left: -590px;
        bottom: -3px;
        height: 45px;
    }
    .header-presentation__text {
        font-size: 9px;
        line-height: 100%;
        width: 76px;
    }
    .header-presentation {
        margin-bottom: 40px;
    }
    .header-form__text {
        font-size: 12px;
        line-height: 14px;
    }
    .header-form__top {
        padding: 10px 25px;
    }
    .header-input {
        width: 155px;
    }
    .header-form__btn {
        width: 155px;
    }
    .label-radio {
        padding-left: 26px;
    }
    .med-car {
        top: 69%;
        width: 250px;
    }
    .big-picture {
        right: -5px;
        width: 320px;
        bottom: -117px;
    }
    /* header */
    /* footer */
    .footer-text__two {
        margin: 10px auto 10px !important;
    }
    .footer-text__one {
        margin: 10px auto 10px !important;
    }
    /* footer */
}

@media (max-width: 991px) {
    /* header */
    /* .header {
        margin-bottom: 100px;
    } */
    .header-title {
        font-size: 34px;
        line-height: 110%;
        margin-top: 40px;
    }
    .header-title__psevdo::before {
        left: -640px;
        bottom: 0px;
        height: 37px;
    }
    .header-form__top {
        padding: 7px 10px;
    }
    .header-input {
        width: 140px;
    }
    .header-form__btn {
        width: 145px;
    }
    .custom-radio--text {
        width: 300px;
    }
    .med-car {
        top: 73%;
        width: 240px;
    }
    .big-picture {
        right: 7px;
        width: 280px;
        bottom: -119px;
    }
    /* header */
    /* warranty */
    .warranty-fon {
        right: -200px;
    }
    /* warranty */
    /* money */
    .money-prices {
        z-index: 2;
        padding: 0 65px;
        height: 250px;
        margin-bottom: 50px;
    }
    .money-prices__text {
        font-size: 14px;
    }
    .money-prices__sum {
        padding: 10px 35px;
        font-size: 20px;
    }
    .dropper-fon {
        width: 87px;
        z-index: -1;
        top: -11px;
        left: 0px;
    }
    .dropper {
        top: -5px;
        width: 46px;
        transform: none;
    }
    .money-line {
        height: 88px;
        display: flex;
        align-items: center;
    }
    .express-blokc {
        height: 69px;
        margin-top: 0px;
        width: 210px;
    }
    .pipette {
        width: 35px;
        right: -10px;
        top: 0;
    }
    .all-day__help {
        font-size: 14px;
        width: 210px;
    }
    .money-number {
        font-size: 14px;
        height: 30px;
        padding: 0 40px;
    }
    .medical {
        width: 485px;
        right: 0px;
        bottom: -27px;
    }
    /* money */
    /* steps */
    .elements-item {
        padding: 20px;
        width: 172px;
        height: 172px;
    }
    .elements-item__title {
        font-size: 144px;
        left: -14px;
        bottom: -29px;
    }
    .elements-item__picture--center {
        width: auto;
    }
    .elements-item__picture {
        bottom: -5px;
        right: -40px;
        width: auto;
    }
    .element-general__list {
        font-size: 16px;
        line-height: 120%;
        width: 160px;
    }
    .element-general__list::before {
        width: 60px;
        transform: translateX(75%);
    }
    .element-general__list--text {
        font-size: 12px;
        width: 160px;
    }
    .overflow-x {
        display: flex;
        overflow-x: scroll;
    }
    #element::-webkit-scrollbar {
        /* width: 100%;
        height: 2px; */
        display: none;
    }
    /* #element::-webkit-scrollbar-track {
        box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.19);
        background-color: #E0E0E0;
        height: 2.5px;
        border-radius: 10px;
    }
    #element::-webkit-scrollbar-thumb {
        border-radius: 5px;
        height: 5px;
        background: #0072BC;
    } */
    /* steps */
    /* sobriety-express */
    .express-picture {
        margin-right: 50px;
    }
    .catheter {
        width: 320px;
    }
    .express-picture__blue {
        width: 265px;
        height: 230px;
    }
    .express-picture__orange {
        width: 265px;
        height: 230px;
    }
    .express__text--presentation {
        font-size: 14px;
        line-height: 130%;
        width: 350px;
        margin-bottom: 20px;
    }
    /* sobriety-express */
    /* helps */
    .help-block__subtitle {
        font-size: 13px;
    }
    .help-block__picture {
        margin-right: 10px;
    }
    .help-block--text {
        width: 140px;
        font-size: 10px;
    }
    .free-anon {
        font-size: 13px;
        line-height: 15px;
    }
    .big-number__help {
        margin-top: 30px;
    }
    .bit-number-title {
        font-size: 35px;
        line-height: 130%;
    }
    .bit-text__help {
        font-size: 12px;
        line-height: 135%;
    }
    .help-form__top {
        padding: 15px 15px;
    }
    .big-help {
        right: 30px;
        width: 240px;
    }
    /* helps */
}

@media (max-width: 910px) {
    /* header */
    .header-presentation {
        margin-bottom: 20px;
    }
    .med-car {
        right: 46%;
        top: 83%;
        width: 150px;
    }
    .big-picture {
        right: 0px;
        width: 240px;
    }
    /* header */
    /* money */
    .medical {
        width: 410px;
        right: 0px;
        bottom: -11px;
    }
    /* money */
}

@media (max-width: 767px) {
    /* navigation */
    .choice {
        padding-top: 80px;
        z-index: 1;
    }
    .navbar-collapse {
        z-index: 100;
        width: 100% !important;
        position: absolute;
        transform: translateX(-50%);
        top: 64px;
        left: 50%;
        background-color: whitesmoke;
    }
    .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav-link {
        font-size: 20px;
        line-height: 25px;
        border-right: none;
    }
    /* navigation */
    /* header */
    .header {
        padding-bottom: 0px;
        box-shadow: none;
        position: relative;
        /* margin-bottom: 80px; */
    }
    .header::before {
        position: absolute;
        width: 100%;
        background: transparent;
        box-shadow: 0px 2px 5px rgb(0 0 0 / 16%);
        display: table;
        height: 2.5px;
        border-bottom: 2.5px solid #e8e8e8;
        content: '';
        top: 67%;
        left: 0%;
    }
    .container-nav {
        padding: 0 100px;
    }
    .header-content {
        margin-bottom: 120px;
    }
    .header-title {
        margin-top: 60px;
        /* font-size: 25px;
        line-height: 120%; */
    }
    .big-picture {
        /* transform: translateY(25%); */
        right: 0px;
        width: 290px;
        bottom: -73px;
    }
    .med-car {
        right: 0;
        top: 0;
        transform: translateY(42%);
        width: 240px;
    }
    .header-presentation {
        margin-bottom: 0px;
        flex-direction: column;
        align-items: center !important;
    }
    .header-presentation__item {
        flex-direction: row !important;
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .header-presentation__item:last-child {
        margin-bottom: 0px;
    }
    .header-presentation__picture {
        margin-bottom: 0px !important;
        margin-right: 20px;
        /* width: 40px; */
    }
    .header-presentation__text {
        text-align: inherit;
        font-size: 13px;
    }
    .header-form {
        margin: 0 auto;
        width: fit-content;
        padding: 15px 13px;
        border: 0.3px solid #BDBDBD;
        box-shadow: 0px 1px 5px rgb(0 0 0 / 20%);
        border-radius: 2px;
        background: #FFFFFF;
        opacity: 0.95;
        flex-direction: column;
        display: flex;
        align-items: center;
    }
    .header-form__top {
        padding: 0;
        border: none;
        box-shadow: none;
        border-radius: 0;
        background: none;
        opacity: 1;
        width: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header-input {
        width: 265px;
        margin-right: 0px;
        margin-bottom: 10px;
        background-color: #fff;
    }
    .header-form__btn {
        width: 265px;
    }
    .header-form__text {
        width: 205px;
        text-align: center;
    }
    .label-radio {
        align-items: end;
        display: flex;
        padding-left: 0px;
    }
    .custom-radio--text {
        width: 245px;
    }
    /* header */
    /* choice */
    .title-choice {
        width: 365px;
        margin-bottom: 55px;
    }
    .why__block--item {
        margin-right: 0px;
        width: 250px;
        padding-right: 10px;
        height: 120px;
        padding-top: 27px;
    }
    .why-picture {
        width: 50px;
        padding-top: 10px;
    }
    .title-why {
        font-size: 13px;
        line-height: 100%;
    }
    .why-text {
        font-size: 11px;
        line-height: 100%;
    }
    /* choice */
    /* warranty */
    .warranty {
        margin-bottom: 30px;
        margin-top: 15px;
    }
    .warranty-fon {
        background-position-x: -690px;
        right: -5px;
    }
    .warranty-numbers {
        width: 425px;
    }
    .warranty-numbers__text {
        width: 345px;
    }
    .warranty-numbers__item {
        margin-right: 0px;
        margin-bottom: 30px !important;
    }
    .warranty-numbers__item:last-child {
        margin-bottom: 0px !important;
    }
    /* warranty */
    /* money */
    .money {
        overflow: hidden;
        z-index: 1;
    }
    .title-money {
        margin-bottom: 50px;
    }
    .money-prices {
        margin-left: -20px;
        padding: 0 34px;
        height: 250px;
        margin-bottom: 25px;
    }
    .money-prices__sum {
        padding: 10px 35px;
        font-size: 15px;
    }
    .dropper-fon {
        width: 75px;
        z-index: -1;
        top: -11px;
        left: 0px;
        transform: translateX(-50%);
    }
    .dropper {
        top: -5px;
        width: 36px;
        transform: translateX(-50%);
    }
    .all-help {
        justify-content: flex-start !important;
    }
    .express-blokc {
        margin-left: -65px;
        height: 58px;
        margin-top: 0px;
        width: 210px;
    }
    .logo-money {
        width: 95px;
    }
    .pipette {
        width: 30px;
        right: -9px;
        top: 0;
    }
    .money-number {
        width: fit-content;
        font-size: 11px;
        height: 22px;
        padding: 0 30px;
    }
    .all-day__help {
        font-size: 11px;
        margin-bottom: 3px;
        width: 165px;
    }
    .medical {
        width: 416px;
        right: -36px;
        bottom: -17px;
    }
    /* money */
    /* steps */
    .step {
        padding-top: 40px;
        padding-bottom: 110px;
    }
    /* steps */
    /* figures */
    .figures-card__item {
        padding: 30px 0 0 30px;
        width: 240px;
        height: 145px;
    }
    .figures-img {
        transform: translate(48%, 28%);
        width: 110px;
        height: 110px;
    }
    .figures-card__item--title {
        font-size: 15px;
    }
    .figures-card__item--info {
        width: 125px;
        font-size: 12px;
    }
    /* figures */
    /* sobriety-express */
    .title-sobriety {
        width: 300px;
    }
    .sobriety-express__information {
        flex-direction: column;
    }
    .express-picture {
        margin-bottom: 40px;
        margin-right: 0px;
    }
    .express__text--presentation {
        text-align: center;
    }
    .sobriety-express {
        background-size: 770px, 415px;
        padding-bottom: 20px;
        margin-bottom: 50px;
    }
    /* sobriety-express */
    /* success */
    .success {
        padding-bottom: 30px;
    }
    .title-success {
        width: 415px;
    }
    .reviews-card {
        max-width: 240px;
    }
    .reviews-information {
        font-size: 11px;
    }
    /* success */
    /* helps */
    .big-help {
        display: none;
    }
    .helps .container {
        z-index: 0;
    }
    .help-blokc {
        margin-bottom: 50px;
    }
    .help-block--text {
        width: 125px;
    }
    .help-block__picture {
        width: 40px;
    }
    .form-block__helper {
        margin: 0 auto;
    }
    .free-anon {
        margin: 0 auto;
        width: 325px;
        text-align: center;
    }
    .help-form__top {
        z-index: 1;
        background-color: transparent;
        border: none;
        box-shadow: none;
        flex-direction: column;
    }
    .bit-number-title {
        text-align: center;
        font-size: 30px;
    }
    .mobile-help {
        z-index: -1;
        right: 0;
        top: 60px;
        display: block !important;
        position: absolute;
    }
    /* helps */
    /* footer */
    .footer-text__two {
        width: auto;
        text-align: center;
    }
    .footer-text__one {
        width: auto;
        text-align: center;
    }
    /* footer */
    .fixed-number {
        width: 100px;
    }
}

@media (max-width: 680px) {
    /* header */
    .container-nav {
        padding: 0 60px;
    }
    /* header */
    /* money */
    .medical {
        width: 320px;
        right: -46px;
        bottom: 3px;
    }
    /* money */
    /* helps */
    .help-blokc {
        flex-wrap: wrap;
        justify-content: center !important;
    }
    .help-block__item {
        margin: 0 8px 20px;
    }
    /* helps */
}

@media (max-width: 600px) {
    /* header */
    /* .header {
        margin-bottom: 50px;
    } */
    .big-picture {
        bottom: -80px;
    }
    .container-nav {
        padding: 20px;
    }
    /* header */
}

@media (max-width: 576px) {
    /* choice */
    .choice {
        padding-top: 50px;
        z-index: 1;
    }
    .why__block--item {
        flex-direction: column;
        margin-right: 0px;
        width: 165px;
        max-width: 165px;
        padding-right: 0px;
        height: 165px;
        padding-top: 0px;
        align-items: center;
        justify-content: center;
    }
    .why-picture {
        margin-right: 0px !important;
        padding-top: 0px;
        margin-bottom: 15px;
    }
    .title-why {
        text-align: center;
    }
    .why-text {
        text-align: center;
        width: 150px;
    }
    /* choice */
    /* money */
    .medical-mobile {
        z-index: 5;
        width: 330px;
        right: -100px;
        bottom: 46px;
    }
    /* money */
    /* figures */
    .figures-card__item {
        margin: inherit;
    }
    .figures-card__item {
        padding: 30px 0 0 15px;
        width: 210px;
        height: 125px;
    }
    /* success */
    /* success */
    /* .fixed-number {
        width: 99px;
    } */
}

@media (max-width: 525px) {
    /* header */
    .header-title {
        font-size: 30px;
    }
    .header-title__psevdo::before {
        left: -679px;
        height: 30px;
    }
    .header-presentation__item {
        margin-bottom: 10px;
    }
    .med-car {
        transform: translateY(42%);
        width: 200px;
    }
    .big-picture {
        /* transform: translateY(25%); */
        width: 265px;
        bottom: -61px;
    }
    .header::before {
        top: 63%;
    }
    /* header */
    /* success */
    .reviews-card {
        max-width: 200px;
    }
    /* success */
}

@media (max-width: 475px) {
    /* header */
    .header::before {
        top: 56.7%;
    }
    .header-title {
        font-size: 25px;
        line-height: 110%;
    }
    .header-title__psevdo::before {
        left: -717px;
        bottom: 0px;
        height: 26px;
    }
    .header-presentation__picture {
        margin-right: 10px;
        width: 40px;
    }
    .header-presentation__text {
        font-size: 12px;
    }
    .header-presentation__item {
        margin-bottom: 10px;
    }
    .header-form__btn {
        font-size: 15px;
        padding: 14px 0;
    }
    .big-picture {
        /* transform: translateY(19%); */
        width: 195px;
        bottom: -78px;
    }
    .header-input {
        font-size: 15px;
        padding: 15px 0 15px 42px !important;
    }
    .med-car {
        transform: translateY(47%);
        width: 183px;
    }
    /* header */
    /* choice */
    .title-choice {
        width: 280px;
        margin-bottom: 30px;
    }
    .title-block::before {
        bottom: -15px;
        width: 110px;
    }
    .choice-why__block {
        margin-right: 10px;
    }
    .why-picture {
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .why__block--item {
        padding: 0 5px;
        margin-bottom: 10px !important;
        width: auto;
        height: 185px;
        justify-content: flex-start;
    }
    .why-text {
        width: auto;
        font-size: 13px;
    }
    /* choice */
    /* warranty */
    .warranty-fon {
        background-size: 711px;
        right: -1px;
        background-position-y: center;
        background-position-x: -204px;
    }
    .warranty-numbers {
        width: 280px;
    }
    .warranty-numbers__text {
        width: 230px;
        font-size: 11px;
        line-height: 125%;
        margin-left: -18px;
    }
    .warranty-subtitle {
        font-size: 36px;
        width: 70px;
        height: 70px;
    }
    /* warranty */
    /* money */
    .medical-mobile {
        z-index: 5;
        width: auto;
        right: auto;
        left: 200px;
        bottom: 55px;
    }
    /* money */
    /* figures */
    .figures-card__item {
        width: 180px;
    }
    /* sobriety-express */
    .title-sobriety {
        width: 230px;
    }
    /* sobriety-express */
    /* success */
    .title-success {
        width: 320px;
    }
    .reviews-card {
        height: 348px !important;
        width: auto;
        max-width: 300px;
    }
    .success {
        overflow: hidden !important;
    }
    .reviews {
        /* width: fit-content !important; */
        display: block !important;
        justify-content: inherit !important;
        flex-wrap: nowrap !important;
    }
    .slick-slide {
        margin: 10px;
        /* max-width: 250px !important; */
    }
    .slick-list {
        overflow: inherit !important;
    }
    .prev-str {
        bottom: -30px;
        left: 120px;
        display: block;
    }
    .next-str {
        bottom: -30px;
        left: 62px;
        display: block;
    }
    /* success */
    /* helps */
    .help-blokc {
        width: fit-content;
        display: block !important;
        flex-wrap: nowrap;
        justify-content: start;
        margin: 0 auto 50px;
    }
    .free-anon {
        margin: 0 auto;
        width: 250px;
        text-align: center;
    }
    .help-block__item {
        margin: 0 0 30px;
    }
    .help-block--text {
        width: 190px;
        font-size: 13px;
    }
    .bit-text__help {
        width: 155px;
        margin: 0 auto 35px;
    }
    /* helps */
    .help-form__top {
        padding: 15px 5px;
    }
    .footer-text__two {
        width: auto;
        text-align: start;
        margin: 0;
    }
    .footer-text__one {
        width: auto;
        text-align: start;
        margin: 0;
    }
    .footer-text {
        font-size: 12px;
    }
    /* footer */
}

@media (max-width: 430px) {
    /* money */
    .money-prices {
        margin-left: -20px;
        padding: 0 35px;
        height: 240px;
    }
    .money-prices__text {
        font-size: 10px;
    }
    .money-prices__sum {
        padding: 10px 35px;
        font-size: 15px;
    }
    .medical-mobile {
        right: auto;
        left: 165px;
        bottom: 55px;
    }
    .express-blokc {
        margin-left: -42px;
        width: 150px;
        margin-right: 5px;
    }
    /* money */
}

@media (max-width: 405px) {
    /* header */
    .container-nav {
        padding: 10px;
    }
    .header-title {
        font-size: 20px;
        line-height: 110%;
    }
    .header-title__psevdo::before {
        left: -754px;
        height: 20px;
    }
    .med-car {
        transform: translateY(87%);
        width: 140px;
        right: 8px;
    }
    .big-picture {
        width: 160px;
        bottom: -59px;
    }
    .header::before {
        top: 56%;
    }
    .header-content {
        margin-bottom: 90px;
    }
    .header-presentation__text {
        font-size: 9px;
    }
    /* header */
    /* figures */
    .figures-card__item {
        width: 134px;
    }
    /* figures */
    /* sobriety-express */
    .catheter {
        width: 260px;
    }
    .express-picture__blue {
        width: 220px;
        height: 190px;
    }
    .express-picture__orange {
        width: 220px;
        height: 190px;
    }
    .express__text--presentation {
        font-size: 13px;
        width: 270px;
    }
    /* sobriety-express */
    /* success */
    .title-success {
        width: 200px;
    }
    .prev-str {
        left: 100px;
    }
    .next-str {
        bottom: -30px;
        left: 30px;
    }
    /* success */
    /* helps */
    .help-block--text {
        width: auto;
        font-size: 14px;
    }
    .title-help {
        margin-bottom: 30px;
        width: 175px;
    }
    .help-blokc {
        margin: 0 0 50px;
    }
    /* footer */
    .footer-text {
        font-size: 15px;
    }
    /* footer */
}

@media (max-width: 375px) {
    .money-prices {
        padding: 0 20px;
    }
    .money-prices__sum {
        padding: 10px 30px;
    }
    .medical-mobile {
        right: auto;
        left: 140px;
        bottom: 55px;
    }
    .why__block--item {
        height: 208px;
    }
}